// User list section
.userList {
  padding-top: 5vh;

  ul {
    width: 100%;
    margin: 0 auto;
  }
}

.userList_item {
  border-bottom: 1px solid $c-grey100;
  font-size: rem(16px);

  a {
    color: $c-black;
    display: flex;
    border-radius: 2px;
    align-items: center;
    padding: 1rem;
  }

  a:hover {
    background-color: $c-grey100;
    transition: background-color 200ms;
  }

  &:last-of-type {
    border: none;
  }

  img {
    border-radius: 50%;
    margin-right: 1rem;
    height: 78px;
  }
}

.userList_item_title {
  font-size: rem(18px);
  font-weight: bold;
}

// User details section
.userDetails {
  padding-top: 5vh;
}

.userDetails_content {
  display: flex;
}

.userDetails_avatar {
  width: 300px;
  height: 300px;

  img {
    border-radius: 5px;
  }
}

.userDetails_info {
  font-size: rem(16px);
  padding: 1rem;
}

.userDetails_title {
  font-size: rem(18px);
}
